@{
    ViewBag.Title = "Home Page";
}

    <div class="jumbotron">
        <h1>Service Accounting</h1>
        <p class="lead">Service to find workers for your business..</p>
       <a href="~/Workers" class="btn btn-primary btn-lg">Workers &raquo;</a>
        <a href="~/Clients" class="btn btn-primary btn-lg">Clients &raquo;</a>
        <a href="~/Services" class="btn btn-primary btn-lg">Services &raquo;</a></p>
    </div>

<div class="row">
    <div class="col-md-4">
        <h2>Create Order</h2>
        <p>
            Create a new Order for.
        </p>
        <p><a class="btn btn-default" href="~/Orders">New &raquo;</a></p>
    </div>
 </div>   