@model IEnumerable<ServiceAccounting.Models.Service>

@{
    ViewBag.Title = "Index";
    AjaxOptions search = new AjaxOptions
    {
        UpdateTargetId = "searchResult",
        Url = Url.Action("SearchResult")
    };
}

<h2>Services</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
@using (Ajax.BeginForm(search))
{
    <p>
        <input type="text" placeholder="Service Type"  name="serviceType" value="@ViewBag.serviceType" />
        <button type="submit" class="btn btn-success">Search</button>
    </p>

    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ServiceType)
            </th>
            <th></th>
        </tr>
        <tbody id="searchResult">
            @Html.Action("SearchResult")
        </tbody>
    </table>
}